<!--- Sidemenu -->
<div id="sidebar-menu">
  <ul id="side-menu">
   
    <li>
      <a href="<%- mainpath %>company">
        <i data-feather="trello"></i>
        <span> Super Admins </span>
      </a>
    </li>
    <li>
      <a href="<%- mainpath %>trial">
        <i data-feather="bar-chart-2"></i>
        <span> Trials Requests </span>
      </a>
    </li>

   





  </ul>
</div>
<!-- End Sidebar -->
